html {
  scroll-behavior: smooth;
}
a, button, input{
  outline: none;
}
body {
  font-family: getFont("Montserrat");
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  padding: 0 15px;
  margin: 0 auto;
}
button {
  background-color: getColor("orange");
  display: block;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
input {
  outline: none;
  border: none;
}

.swiper-pagination {
  display: flex;
  gap: 13px;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.3);
}

.swiper-pagination-bullet-active {
  width: 28px;
  background-color: getColor('text-third');
  border-radius: 15px;
}