html {
  scroll-behavior: smooth;
}
a, button, input{
  outline: none;
}
body {
  font-family: getFont('Montserrat');
  @include text(14px, 400);
  background-color: #fafafa;
}
.container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }

  padding: 0 15px;
  margin: 0 auto;
}
button {
  background-color: getColor("orange");
  display: block;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
input {
  outline: none;
  border: none;
}

.swiper-pagination {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.3);
}

.swiper-pagination-bullet-active {
  width: 28px;
  background-color: getColor("orange");
  border-radius: 15px;
}