<div class="mobile-menu is-hidden" mobile-menu>
  <div class="menu-container">
    <button type="button" class="menu-close" data-close-menu>
      <svg class="menu-close__icon">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="menu-nav">
      <li class="menu-nav__item">
        <a href="#header" class="menu-nav__link">Home</a>
      </li>
      <li class="menu-nav__item">
        <a href="#proces" class="menu-nav__link">How it’s made?</a>
      </li>
      <li class="menu-nav__item">
        <a href="#product" class="menu-nav__link">Our products</a>
      </li>
      <li class="menu-nav__item">
        <a href="#sellers" class="menu-nav__link">Top sellers</a>
      </li>
      <li class="menu-nav__item">
        <a href="#reviews" class="menu-nav__link">Chocolate is loved</a>
      </li>
    </ul>

    <ul class="menu-social">
      <li class="menu-social__item">
        <a href="#" class="menu-social__link">
          <svg class="menu-social__icon">
            <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social__item">
        <a href="#" class="menu-social__link">
          <svg class="menu-social__icon">
            <use href="./images/icons/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
