<div class="backdrop-buy is-hidden">
  <div class="modal-buy">
    <button class="modal-buy__btn-close" type="button" data-close-buy>
      <svg class="modal-buy__close-svg">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-buy__title">
      <span class="modal-buy__title modal-buy__title--color">BUY </span>NOW
    </h2>
    <ul class="buy-list">
      <li class="buy-list__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/descbuynow1.png 1x, ./images/descbuynow1@2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/mobbuynow1.png 1x, ./images/mobbuynow1@2x.png 2x"
          />

          <img src="./images/mobbuynow1.png" class="buy-list__img" alt="100g" />
        </picture>

        <button class="buy-list__grams">100 g</button>
      </li>
      <li class="buy-list__item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="./images/descbuynow2.png 1x, ./images/descbuynow2@2x.png 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="./images/mobbuynow2.png 1x, ./images/mobbuynow2@2x.png 2x"
          />
          <img src="./images/mobbuynow2.png" class="buy-list__img" alt="200g" />
        </picture>
        <button class="buy-list__grams">200 g</button>
      </li>
      <li class="buy-list__item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="./images/descbuynow3.png 1x, ./images/descbuynow3@2x.png 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/mobbuynow3.png 1x, ./images/mobbuynow3@2x.png 2x"
          />
          <img
            src="./images/descbuynow3.png"
            class="buy-list__img"
            alt="300g"
          />
        </picture>
        <button class="buy-list__grams">300 g</button>
      </li>
    </ul>

    <form class="buy-now-form">
      <ul class="buy-now-list">
        <li class="buy-now-list__item">
          <h2 class="buy-now-list__title">Personal information</h2>
          <div class="buy-now-list__person-information">
            <input
              type="text"
              placeholder="Name"
              class="buy-now-list__input buyInput"
              required
            />
            <input
              type="text"
              placeholder="Surname"
              class="buy-now-list__input buyInput"
              required
            />
          </div>
        </li>

        <li class="buy-now-list__item">
          <h2 class="buy-now-list__title">Email</h2>
          <input
            type="email"
            placeholder="Enter your email"
            class="buy-now-list__input buyInput"
            minlength="7"
            required
          />
        </li>
        <li class="buy-now-list__item buy-now-list__item--tel">
          <h2 class="buy-now-list__title">Phone number</h2>
          <div class="phone-container">
            <svg class="phone-container__svg">
              <use href="./images/icons/symbol-defs.svg#icon-Ukraine"></use>
            </svg>
            <p class="phone-container__text">+380</p>
          </div>
          <input
            type="tel"
            placeholder="Phone number"
            class="buy-now-list__input buy-now-list__input--tel buyInput"
            maxlength="40"
            minlength="5"
            required
          />
        </li>
        <li class="buy-now-list__item buy-now-list__item--card">
          <div class="card-container">
            <svg class="card-container__svg">
              <use href="./images/icons/symbol-defs.svg#icon-mastercard"></use>
            </svg>
            <p class="card-container__text"></p>
          </div>
          <h2 class="buy-now-list__title">Card number</h2>
          <input
            type="text"
            placeholder="Enter card"
            class="buy-now-list__input buy-now-list__input--cardnum buyInput"
            minlength="7"
            required
          />
        </li>
        <li class="buy-now-list__item">
          <h2 class="buy-now-list__title">Comment</h2>
          <textarea
            placeholder="Enter text"
            class="buy-now-list__textarea"
            pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            title="xxxx-xxxx-xxxx-xxxx"
            maxlength="1200"
          ></textarea>
        </li>
      </ul>
      <button type="submit" class="buy-now-form__btn" data-open-thanks>
        Submit
      </button>
    </form>
  </div>
</div>
