<header class="header" id="header">
  <div class="container">
    <div class="header__pages">
      <a href="#" class="logo logo--header">
        <span class="logo__span"> SIMPLY</span> CHOCOLATE

        <svg class="logo__icon">
          <use href="./images/icons/symbol-defs.svg#icon-chocolate"></use>
        </svg>
      </a>

      <button class="menu-open" data-open-menu>
        <svg class="menu-open__icon">
          <use href="./images/icons/symbol-defs.svg#icon-menu-burger"></use>
        </svg>
      </button>
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#header" class="nav-list__link">Home </a>
          </li>
          <li class="nav-list__item">
            <a href="#proces" class="nav-list__link">How it’s made? </a>
          </li>
          <li class="nav-list__item">
            <a href="#product" class="nav-list__link">Our products </a>
          </li>
          <li class="nav-list__item">
            <a href="#sellers" class="nav-list__link">Top sellers </a>
          </li>
          <li class="nav-list__item">
            <a href="#reviews" class="nav-list__link">Chocolate is loved </a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-social">
      <li class="header-social__item">
        <a href="#" class="header-social__link">
          <svg class="header-social__icon">
            <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a href="#" class="header-social__link">
          <svg class="header-social__icon">
            <use href="./images/icons/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
