<header class="header">
  <div class="container">
    <div class="header__pages">
      <a href="#" class="logo logo--header">
        SIMPLY CHOCOLATE

        <svg class="logo__icon">
          <use href="#"></use>
        </svg>
      </a>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Home </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">How it’s made? </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Our products </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Top sellers </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">Chocolate is loved </a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="header-social">
      <li class="header-social__item">
        <a href="#" class="header-social__link">
          <svg class="header-social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="header-social__item">
        <a href="#" class="header-social__link">
          <svg class="header-social__icon">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
