<section class="hero" id="hero">
  <div class="backdrop">
    <div class="container">
      <p class="hero__text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <div class="hero__pages">
        <ul class="hero-options">
          <li class="hero-options__item">
            <button
              class="hero-options__btn hero-options__btn--light"
              type="button"
            >
              Buy now
            </button>
          </li>
          <li class="hero-options__item">
            <button class="hero-options__btn" type="button">
              How it’s made
            </button>
          </li>
        </ul>
        <div class="scroll-down">
          <a href="#footer" class="scroll-down__link"
            >scroll down
            <button class="scroll-down__btn" type="button">
              <svg class="scroll-down__icon">
                <use href="#"></use>
              </svg></button
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
