<section class="ingredients">
  <div class="container">
    <h2 class="ingredients-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION
    </h2>
    <p class="ingredients-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="ingredients-list">
      <li class="ingredients-list__item">
        <div class="ingredients-list__thumb">
          <img src="#" alt="Chocolate" />
        </div>
        <p class="ingredients-list__text">MILK CHOCOLATE</p>
      </li>
      <li class="ingredients-list__item">
        <div class="ingredients-list__thumb">
          <img src="#" alt="Milk" />
        </div>
        <p class="ingredients-list__text">MILK</p>
      </li>
      <li class="ingredients-list__item">
        <div class="ingredients-list__thumb">
          <img src="#" alt="Nuts" />
        </div>
        <p class="ingredients-list__text">NUTS</p>
      </li>
      <li class="ingredients-list__item">
        <div class="ingredients-list__thumb">
          <img src="#" alt="Semi" />
        </div>
        <p class="ingredients-list__text">SEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
