<div class="backdrop-thanks is-hidden">
  <div class="modal-thanks">
    <div class="modal-thanks__container">
      <button type="button" class="modal-thanks__close-btn" data-close-thanks>
        <svg class="modal-thanks__icon-close">
          <use href="./images/icons/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="modal-thanks__title">thank you!</h3>
      <p class="modal-thanks__text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
  </div>
</div>
