<section class="proces" id="proces">
  <div class="container">
    <h2 class="proces__title">HOW IT'S <span class="orange">MADE?</span></h2>
    <div class="proces-blocks">
      <div class="proces-block__video">
        <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          poster="./images/descvideo@2x.jpg"
          data-setup="{}"
        >
          <source
            src="./images/video/how-it's-made-Chocolate.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="proces-block__list">
        <h3 class="proces-list__title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="proces-list">
          <li class="proces-list__item">
            <p class="proces-list__text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="proces-list__item">
            <p class="proces-list__text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="proces-list__item">
            <p class="proces-list__text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="proces-list__item">
            <p class="proces-list__text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="proces-list__item">
            <p class="proces-list__text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
