<section class="products">
    <div class="container">
      <h2 class="products-title">
        OUR <span class="products-title__span">PRODUCTS</span>
      </h2>
      <div class="swiper products-slider">
      <ul class="products-list swiper-wrapper">
        <li class="products-list__item swiper-slide">
          <img class="products-list__img" src="#" alt="chocolate"  />
          <h3 class="products-list__title">ORANGE</h3>
          <p class="products-list__name">Dark chocolate</p>
          
          <button class="products-list__btn" type="button">45 UAH</button>
        </li>
        <li class="products-list__item swiper-slide">
          <img class="products-list__img" src="#" alt="chocolate"  />
          <h3 class="products-list__title">APPLE&CRANBERRY</h3>
          <p class="products-list__name">Milk chocolate</p>
          
          <button class="products-list__btn" type="button" >50 UAH</button>
        </li>

        <li class="products-list__item swiper-slide">
          <img class="products-list__img" src="#" alt="chocolate"  />
          <h3 class="products-list__title">LIME&SEA SALT</h3>
          <p class="products-list__name">Dark chocolate</p>
         
          <button class="products-list__btn" type="button">66 UAH</button>
        </li>

        <li class="products-list__item swiper-slide">
          <img class="products-list__img" src="#" alt="chocolate"  />
          <h3 class="products-list__title">PINEAPPLE</h3>
          <p class="products-list__name">Dark chocolate</p>
          
          <button class="products-list__btn" type="button">54 UAH</button>
        </li>
        <li class="products-list__item swiper-slide">
            <img class="products-list__img" src="#" alt="chocolate"  />
            <h3 class="products-list__title">CLASSIC</h3>
            <p class="products-list__name">Milk chocolate</p>
            
            <button class="products-list__btn" type="button">45 UAH</button>
          </li>
          <li class="products-list__item swiper-slide">
            <img class="products-list__img" src="#" alt="chocolate"  />
            <h3 class="products-list__title">HONEY</h3>
            <p class="products-list__name">Milk chocolate</p>
            
            <button class="products-list__btn" type="button">50 UAH</button>
          </li>
    
          <li class="products-list__item swiper-slide">
            <img class="products-list__img" src="#" alt="chocolate" />
            <h3 class="products-list__title">ROASTED FRUITS</h3>
            <p class="products-list__name">Dark chocolate</p>
           
            <button class="products-list__btn" type="button">66 UAH</button>
          </li>
    
          <li class="products-list__item swiper-slide">
            <img class="products-list__img" src="#" alt="chocolate" />
            <h3 class="products-list__title">CLASSIC</h3>
            <p class="products-list__name">White chocolate</p>
            
            <button class="products-list__btn" type="button">54 UAH</button>
          </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
</div>
  </section>