<div class="backdrop-review is-hidden">
  <div class="review-modal">
    <button type="button" class="review-modal__close" data-close-review>
      <svg class="review-modal__icon">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="review-modal__title">
      LEAVE A REVIEW <br class="br1" />
      ABOUT <br class="br2" />
      <span class="review-modal__span">OUR CHOCOLATE</span>
    </h3>
    <form class="review-form">
      <input
        type="text"
        class="review-form__input"
        placeholder="Name"
        required
        minlength="2"
      />
      <input
        type="email"
        class="review-form__input"
        required
        placeholder="Enter your email"
      />
      <input
        type="tel"
        class="review-form__input"
        required
        placeholder="Phone number"
      />
      <button class="review-form__btn">
        <svg class="review-form__icon">
          <use href="./images/icons/symbol-defs.svg#icon-ukraine"></use>
        </svg>
        +380
      </button>
      <textarea
        placeholder="Enter text"
        class="review-form__textarea"
        maxlength="1200"
      >
      </textarea>
    </form>
    <button type="button" class="review-modal__btn" data-open-feedback>
      Send
    </button>
  </div>
</div>
