<div class="review-backdrop is-hidden" backdrop-review>
  <div class="review-modal">
    <button type="button" class="review-modal__close" data-close-review>
      <svg class="review-modal__icon">
        <use href="./images/icons/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="review-modal__title">
      LEAVE A REVIEW <br />
      ABOUT <span class="review-modal__span">OUR CHOCOLATE</span>
    </h3>
    <form class="review-form">
      <input
        type="text"
        class="review-form__input"
        placeholder="Name"
        required
        minlength="2"
      />
      <input
        type="email"
        class="review-form__input"
        required
        placeholder="Enter your email"
      />
      <input
        type="number"
        class="review-form__input"
        required
        placeholder="Phone number"
      />
      <button class="review-form__btn">
        <svg class="review-form__icon">
          <use href="./images/icons/symbol-defs.svg#icon-ukraine"></use>
        </svg>
        +380
      </button>
      <textarea class="review-form__textarea" placeholder="Enter text">
      </textarea>
    </form>
    <button type="button" class="review-modal__btn" data-open-feedback>
      Send
    </button>
  </div>
</div>
