<section class="sellers">
  <div class="container">
    <ul class="sellers-list">
      <li class="sellers-list__item">
        <div class="sellers-list__thumb">
          <img src="#" alt="Chocolate" />
        </div>
      </li>
      <li class="sellers-list__item">
        <div class="sellers-list__thumb">
          <img src="#" alt="Chocolate" />
        </div>
      </li>
      <li class="sellers-list__item">
        <div class="sellers-list__thumb">
          <img src="#" alt="Chocolate" />
        </div>
      </li>
    </ul>
    <div class="sellers-discovery">
      <p class="sellers-discovery__text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="sellers-discovery__btn" type="button">Buy now</button>
    </div>
  </div>
</section>
