<div class="backdrop-subscribe is-hidden" >
  <div class="modal-subscribe">
    <div class="modal-subscribe__bg">
      <button
        type="button"
        class="modal-subscribe__btn-close"
        data-close-subscribe
      >
        <svg class="modal-subscribe__svg-close">
          <use href="./images/icons/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <form class="subscribe-form">
      <label class="subscribe-form__label" for="subscribe-input"
        >EXPLORE OUR <br />
        <span class="subscribe-form__label subscribe-form__label--color"
          >NEW CHOCOLATE</span
        >
        FIRST</label
      >

      <input
        placeholder="Enter your email"
        id="subscribe-input"
        type="email"
        required
        
        class="subscribe-form__input"
      />

      <button class="subscribe-form__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
