.header {
  padding: 25px 0;
  @media (min-width: 1200px) {
    padding: 28px 0;
  }


  &__pages {
    @media (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 188px;
    }
  }

  & .container {
    position: relative;

    @media (min-width: 1200px) {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 137px;
    }
  }
}
.logo {
  font-family: getFont('Montserrat');
  font-weight: 700;
  line-height: 1.11;
  color: getColor('black');
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  @media (min-width: 1200px) {
    font-size: 18px;
  }
  &__icon {
    width: 21px;
    height: 21px;
    @media (min-width: 1200px) {
      width: 24px;
      height: 24px;
    }
  }
  &__span {
    font-style: italic;
  }
}
.nav-list {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  &__item {
    position: relative;
  }

  &__link {
    @media (min-width: 1200px) {
      font-family: getFont('Montserrat');
      font-weight: 500;
      line-height: 1.14;
      color: getColor('black');

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 24px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: getColor('orange');
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover::after {
        width: 50%;
      }

      &:hover {
        color: getColor('orange');
      }
    }
  }
}
.header-social {
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  &__icon {
    @media (min-width: 1200px) {
      fill: getColor('black');
      width: 24px;
      height: 24px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        fill: getColor('orange');
      }
    }
  }
}
